/******* GENERICS *******/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 80px;
}

header {
  background-color: #fff;
  box-shadow: 0 1px 2px #d0d0d0;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/******* UTILS ********/
/* Layout */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container-small {
  max-width: 1000px;
  margin: 0 auto;
}

.row::after,
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.col {
  float: left;
}

.row.g-30 {
  margin-left: -30px;
  margin-right: -30px;
}

.row.g-30 .col {
  padding-left: 30px;
  padding-right: 30px;
}

/*  Dimensions */

.w-33 {
  width: calc(100% / 3);
}

.w-50 {
  width: 50%;
}

/* Alignment */
.text-right {
  text-align: right;
}

/* Buttons */
.btn {
  color: #000;
  padding: 10px 15px;
  border: 1px solid #000;
  background-color: #fff;
}

.btn.btn-blue {
  color: #fff;
  background-color: #0061ff;
  border-color: #0061ff;
}

.btn:hover {
  filter: brightness(1.8);
}
/******** NAVBAR *******/

#navbar {
  line-height: 80px;
}

#navbar li {
  display: inline;
  padding: 0 20px;
  list-style-type: none;
  vertical-align: middle;
}

nav a {
  color: #000000;
  text-decoration: none;
}

#navbar img {
  vertical-align: middle;
}

#plans {
  padding-top: 100px;
}

.plans-card {
  border: 1px solid black;
  height: 500px;
}
